<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCixOmyi_o6jYyuZm5h-yGCP_yDy8grBa8</string>
	<key>GCM_SENDER_ID</key>
	<string>864305747040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esmat.flashCardQuizApp</string>
	<key>PROJECT_ID</key>
	<string>flashcard-quiz-app-f2542</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-quiz-app-f2542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864305747040:ios:c8d307224018279c211f05</string>
</dict>
</plist>